.wrapper {
  height: 100vh;
  display: flex;
  color: white;
  background: linear-gradient(298deg, #000 0.63%, #6e33bf 189.88%);
}
.left {
  width: 50%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.left .top p {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left .top p .welcome {
  font-size: 2rem;
}
.left .top p .cce {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
}
.left .mid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.left .mid div {
  border: 1px solid white;
  padding: 2rem 3rem;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left .bottom .book {
  width: 30rem;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .rwrapper {
  height: 75%;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 30px;
  border: 1px solid #646464;
  background: rgba(33, 12, 82, 0.13);
  box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(26.5px);
}
.right .rwrapper .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.right .rwrapper .form input {
  border-radius: 12px;
  border: 1px solid #fff;
  padding: 14px 16px;
  width: 100%;
}
.right .rwrapper .form span.login {
  text-align: center;
  width: 100%;
  border-radius: 12px;
  background: linear-gradient(
    91deg,
    #6e33bf 9.91%,
    #41208b 53.29%,
    #2c1e59 91.56%
  );
  padding: 14px 10px;
}
